.faceMocion {
    display: none;
    padding: 8px;
    box-sizing: border-box;
    background: white;
    color: white;
    position: absolute;
    width: 63px;
    top: 323px !important;
    /*left: 80% !important;*/
    height: auto;
    line-height: 1px;
    border-radius: 50px;
    transition: .25sease-in-out;
    color: black;
    border: 1px solid #eee;
    -webkit-box-shadow: 4px 4px 21px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 21px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 21px -9px rgba(0, 0, 0, 0.75);
}

/*@media screen and(min-width: 1440px){
    .faceMocion{
        left: 83% !important;            
    }
}


@media screen and(min-width: 1200px){
    .faceMocion{
        left: 70% !important;            
    }
}



@media screen and(min-width: 965px){
    .faceMocion{
        left: 65% !important;            
    }
}



@media screen and(min-width: 767px){
    .faceMocion{
        left: 30% !important;            
    }
}*/


.faceMocion div {
    float: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    transition: all 0.2s ease;
    display: block;
}

.selectorFace {
    float: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.faceMocion div:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
}

.molesto {
    float: left;
    width: 48px;
    height: 48px;
    background: url(sqhTN9lgaY1.png) 0 -49px;
}

/*.asusta {
    background: url(sqhTN9lgaY1.png) 0 -48px;
}*/

.divierte {
    background: url(sqhTN9lgaY1.png) 0 0px;
}

/*.gusta {
    background: url(sqhTN9lgaY1.png) 0 -144px;
}*/

.amo {
    background: url(sqhTN9lgaY1.png) 0 -335px;
}

.triste {
    background: url(sqhTN9lgaY1.png) 0 -145px;
}

.asombro {
    background: url(sqhTN9lgaY1.png) 0 -431px;
}

/*.alegre {
    background: url(sqhTN9lgaY1.png) 0 -336px;
}*/

.MensajeTexto {
    display: none;
    position: absolute;
    border: 1px solid #333;
    background-color: #161616;
    border-radius: 5px;
    padding: 3px;
    color: #fff;
    font-family: sans-serif;
    font-size: 12px;
}

.IconoPequenio {
    width: 24px;
    height: 24px;
    background-size: 24px;
    background-repeat: no-repeat;
}