#food{
	.content-tags{
		border-bottom: 3px solid #82c326;
		.fa-plus{
			background: #82c326;
		    -webkit-box-shadow: 0 0 0 10px rgba(130, 195, 38, 0.3);
		    box-shadow: 0 0 0 10px rgba(130, 195, 38, 0.3);
		}
	}
}



/*food-category page*/
#food-wrapper{
	margin-top: 96px;
	padding: 100px 25px 50px;
	width: 100%;
	h2, h3{
		color: #000 !important;
	}
	.category-content{
		padding: 10px 0;
	    position: relative;
	    width: 100%;
		.emoji-wrap{
			float: right;
		    width: auto;
		    right: 20px;
		    top: -13px;
		    height: auto;
		    position: absolute;
		}
	}
	img{
		display: inline-block;
		width: 100%;
	}
	.wrap-likes-comment{
		padding: 10px 0;
		.likes, .comments{
			width: auto;
			display: inline-block
		}

		.likes{
			padding-right: 20px;
		}
	}
	.button-like-share{
		.field{
			padding: 15px 46px;
		    border-style: none;
		    color: #fff;
		    margin: 10px 0 30px;
		    width: 49%;
		    &:hover{
		    	background: #333;
		    }
		}
		.like-field{
			background: #3b5998;
		}
		.share-field{
			background: #83c325;
			float: right;
		}
	}
}

